.titulo{
 background-color: #008B8B;
 margin-bottom: 20px;
}
.titulo h2{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.linhaSexo{
  margin-left: 40px;
}
.linhaBaixo{
  margin-bottom: 15px; 
}
.linhaFormulario{
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: center;
}
.linhaAtividade{
  margin-left: 20px;
}
.linhaFormulario button{
  border-radius: 50%;
  margin-right: 20px;
  background-color: #008B8B;
}
.linhaFormulario label{
  font-size: 15px;
}
.display label{
  text-align: center;
}
.display input{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
hr{
 border-color: #008B8B; 
}
