.titulo{
 background-color: #008B8B;
 margin-bottom: 20px;
}
.titulo h2{
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}
.linhaBaixo{
  margin-bottom: 15px; 
}
.linhaFormulario{
  display: flex;
  flex-direction: row;
  flex-flow: row nowrap;
  justify-content: center;
}
.linhaAtividade{
  margin-left: 20px;
}
.linhaFormulario button{
  border-radius: 50%;
  margin-right: 20px;
  background-color: #008B8B;
}
.linhaFormulario label{
  font-size: 15px;
}
.display label{
  text-align: center;
}
.display input{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
hr{
 color: #008B8B;
 background-color: #008B8B;
 height: 2.5px;
}
img{
  height: 100%;
  width: 100%;
}
.button{
  text-align: center;
}
#corpo{
  background-color: lightgrey; 
}
.linhaSexo{
  margin-left: 36px;
}
.nvlAtvd{
  margin-left: -7px;
}
.calc{
  margin-top: 15px;
}